fastapi
uvicorn
python-multipart
pymupdf
python-docx
pillow
pytesseract
sentence-transformers
faiss-cpu
numpy
pymongo
dnspython
mongomock
pydantic
pydantic-settings
email-validator
pyjwt
bcrypt
pytest
httpx